# LLM Frameworks
## Langchain
langchain>=0.3.7
langchain-core>=0.3.15
langchain-openai>=0.2.6
langchain-community>=0.3.5
langchain-google-genai>=2.0.4

## LlamaIndex
llama-index>=0.11.22
# llama-index-llms-gemini
llama-index-embeddings-huggingface>=0.3.1

# LLM Observability Tools
## Phoenix
arize-phoenix[evals]>=5.7.0
openinference-instrumentation-langchain>=0.1.29
openinference-instrumentation-llama_index>=3.0.3

## MLFlow
mlflow>=2.17.2

# VectorIndex
faiss-cpu>=1.9.0

# Demo App
fastapi[standard]
streamlit
streamlit-extras

# Evaluation
ragas

# Other
python-dotenv
pandas
pypdf
rapidfuzz
spacy

# Dev - For Jupyter
ipykernel
jupyter
ipywidgets