# LLM Frameworks
## Langchain
langchain
langchain-core
langchain-openai
langchain-community
langchain-google-genai

## LlamaIndex
llama-index
llama-index-llms-gemini
llama-index-embeddings-huggingface

# LLM Observability Tools
arize-phoenix
mlflow

# VectorIndex
faiss-cpu

# Other
python-dotenv
ipykernel
jupyter
ipywidgets